@font-face {
  font-family: Popins;
  src:
    url(./Poppins-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Poppins-SemiBold.ttf) format('ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Poppins-Bold.ttf) format('ttf');
  font-weight: 700;
  font-display: swap;
}